html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}


/* mdl-button mdl-js-button mdl-js-ripple-effect */

button {
    display: block;
    background: none;
    border: none;
    padding: 0;
    font-family: inherit;
    user-select: none;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#app {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

#wrapper {
    width: 320px;
    height: 520px;
    position: relative;
}

.calc {
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.calc-display {
    color: white;
    background: #1c191c;
    line-height: 120px;
    font-size: 6em;
    padding: 0 30px;
    text-align: right;
    flex: 1;
}

.auto-scaling-text {
    padding: 0 30px;
    position: absolute;
    right: 0;
    transform-origin: right;
}

.calc-keypad {
    height: 400px;
    display: flex;
}

.calc .input-keys {
    width: 240px;
}

.calc .function-keys {
    display: flex;
}

.calc .digit-keys {
    background: #e0e0e7;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}

.calc-key {
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    border-radius: 0;
}
.calc .function-keys .calc-key {
    font-size: 2em;
}
.calc .function-keys .key-multiply {
    line-height: 50px;
}
.calc .digit-keys .calc-key {
    font-size: 2.25em;
}
.calc .digit-keys .key-0 {
    width: 160px;
    text-align: left;
    padding-left: 32px;
}
.calc .digit-keys .key-dot {
    padding-top: 1em;
    font-size: 0.75em;
}
.calc .operator-keys .calc-key {
    color: white;
    font-size: 3em;
}

.calc .function-keys {
    background: linear-gradient(to bottom, rgba(202,202,204,1) 0%, rgba(196,194,204,1) 100%);
}
.calc .operator-keys {
    background:  linear-gradient(to bottom, rgba(252,156,23,1) 0%, rgba(247,126,27,1) 100%);
}